body {
  background-color: #D1CEC6;
}

/*html,body{
  height:100%;
 }
.container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.container-about {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}


.footer {
  margin-top: 20px;
  text-align: center;
  position: absolute;
  width: 100%;
  color: #1F263F;
}

.header-wrapper {
  width: 100%;
  margin: 0 0 0 0;
  position: fixed;
  z-index: 99999;
}

.header {
  max-width: 980px;
  margin: 0 auto;
  border-bottom: solid 1px #eee;
}

.header-title{
  width: 100%;
  text-align:center;
  padding-top: 10px;
  color: #1F263F;
  font-family: Raleway;
}

.header-links {
  width: 100%;
  padding-top: 10px;
  text-align: center;
  font-family: Raleway;
}

#nav {
  margin: 13px 0 0 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
  position: relative;
  line-height: 1.5em;
  z-index: 1000;
}

.item-first {
  color: #FFFF66;
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

.item{
  color: #FFFF66;
  display: inline;
  margin-right: 20px;
}
.item-last {
  color: #1F263F;
  display: inline;
  margin-right: 20px;
}
.nav-link-look{
  color: #1F263F;
  text-decoration: none;
}

.item-first a:hover {
  font-weight: bold;
}

.item a:hover {
  font-weight: bold;
}

.item-last a:hover{
  font-weight: bold;
}

#active-nav{
  position: fixed;
  z-index: 0;
}

@font-face {
  font-family: 'Raleway';
  font-weight: 100;  Thin 
  src: url('raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('raleway_thin-webfont.woff') format('woff'),
  url('raleway_thin-webfont.ttf')  format('truetype'),
  url('raleway_thin-webfont.svg#webfontnF3kUzPR') format('svg');
}

.name_lincoln {
  font-family: 'Abraham Lincoln';
  font-size: 100px;
  text-align: center;
  margin-top: 100px;
  color: #01065C;
}

#stylist{
  font-family:
  color: #01065C;
  font-size: 50px;
  text-align: center;
  display: block;
}

#contact{
  color: #01065C;
  font-size: 25px;
  text-align: center;
  display: block;
  padding-top: 10px;
}

#salon{
  color: #01065C;
  font-size: 25px;
  text-align: center;
  display: block;
  padding-top: 25px;
}*/
#place-holder {
  padding-top: 100px;
  text-align: center;
}



